.container {
  background: whitesmoke;
  display: flex;
  font-family: Helvetica, sans-serif;
  height: 100vh;

}

.container-image-left {
  background: url("../img/background.webp");
  background-repeat: no-repeat;
  height: 100vh;
  width: 34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-logo {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.img-logo {
  width: 5rem;
}

.text-logo {
  font-size: 5rem;
  color: whitesmoke;
}

.container-content {
  height: 100vh;
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-header {
  font-size: 1rem;
  line-height: 1.8rem;
  height: 20vh;
}

.container-form {
  background: white;
  height: auto;
  padding: 3% 3%;
  font-size: 1rem;
  height: 35vh;
}

.contact-form {
  padding-top: 1rem;
  display: flex;
  gap: 10%;
  height: 100%;
  font-size: 0.7rem;
}

.form-tittle {
  font-size: 1.2rem;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-shrink: 5;
}

input {
  margin-bottom: 3rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: solid #e5e7eb 1px;
  height: 1.8rem;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}

.container-bottom {
  margin-top: 5%;
  height: 20vh;
}

.create-btn {
  background: #596d48;
  color: white;
  width: 12rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.account_already {
  margin-top: 2rem;
}
